{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}



{% block body %}
    <div class="container py-5">

        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">




                        <!-- Email input -->
                        <div class="form-outline mb-4">

                            {{ form_label(form.email, 'E-mail', {'label_attr': {'class': ' form-control-lg'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}


                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            {{ form_label(form.plainPassword, 'Hasło', {'label_attr': {'class': 'form-control-lg'}}) }}
                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}


                        </div>

{#                        <div class="d-flex justify-content-between align-items-center">#}


{#                            <div class="text-center text-lg-start mt-4 pt-2">#}
{#                                <button type="button" class="btn btn-primary btn-lg"#}
{#                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>#}
{#                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"#}
{#                                                                                                  class="link-danger">Register</a></p>#}
{#                            </div>#}

{#                        </div>#}
                        {% block dont_have_account %}

                        {% endblock %}
                        {% block button_confirm %}{% endblock %}


                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
