{% extends 'form/form.html.twig' %}

{% block dont_have_account %}
    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                                                      class="link-danger">Register</a></p>
{% endblock %}


{% block button_confirm %}
    {{ form_widget(form._token) }}

    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>    </div>

{% endblock %}