{% extends 'base.html.twig' %}
{% block navbar %}
    {% include "to_do_list/navbar_to_do_list.html.twig" %}
{% endblock %}

{% block body %}
    <section >
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <div class="card-body p-4">
                            <p class="mb-2"><span class="h2 me-2">Add new To Do List</span> </p>

                            {{ form_start(form) }}
                            <div class="input-group mb-3">
                                {{ form_widget(form.list_name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_end(form) }}

                            <div class="divider d-flex align-items-center my-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
